[Unit]
Description=CS-Storage Docker VolumeDriver thin proxy
After=cs-storage-daemon.service
Before=docker.service
Requires=cs-storage-daemon.service

[Service]
Type=simple
EnvironmentFile=-/etc/cs-storage/plugin.env
ExecStartPre=/usr/bin/mkdir -p /run/docker/plugins
ExecStartPre=/bin/rm -f /run/docker/plugins/cs-storage.sock /etc/docker/plugins/cs-storage.spec /etc/docker/plugins/cs-storage.json
ExecStart=/usr/local/bin/cs-storage-plugin
Restart=always
RestartSec=3s
User=root
Group=root

[Install]
WantedBy=multi-user.target
